*
{
    margin: 0;
    padding: 0%;
    box-sizing: content-box ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    background-color: rgb(54, 62, 70);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: slategray;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 500px;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
   
    border-radius: 10px;
    background-color: #262626;    
}

#quote
{
    height: 5rem;
    margin-top: 30px;
}

.generateBtn
{
width: 50px;
height: 50px;
margin-top: 12px;
border-radius: 50%;
border: none;
background-color:deepskyblue;
color: aliceblue;
font-size: 10px;
cursor: pointer;

}
.generateBtn:hover
{
   border: rgb(53, 122, 146);
   background-color: rgb(53, 122, 146); ;
   transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
.container
{
    width: 60%;
   
}
   
}
